<html>
<head>
</head>
<body>
<form action="" method="post">
<input type="text" name="username" placeholder="input new username">
<input type="password" name="password" placeholder="input new password">
<input type="submit" value="Log in">
</body>
</html>

